#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0;
    font-family: Rockwell, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
